body {
    background-color: rgb(232, 255, 196);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    
}
fieldset {
    text-align: center;
    border-color: rgb(141, 212, 99);
    margin-top: 13%;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 7px;
    border: none;
}

input {
    background-color: rgb(163, 221, 130);
    padding: 3px 24px;
    border-radius: 4px;
}
.botao {
    padding: 20px 30px;
}

